In [3]:
dataset_id = "extracreddata2"

In [4]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'first-planet-266901:extracreddata2' successfully created.

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.coronabystate 'gs://extra-cred/extracred2.csv'

Waiting on bqjob_r3dd46d7220db4685_00000172004e45df_1 ... (1s) Current status: DONE

In [7]:
%%bigquery
select * from extracreddata2.coronabystate
limit 3

         date state_name  state_fips_code  confirmed_cases  deaths
0  2020-03-15       Guam               66                3       0
1  2020-03-16       Guam               66                3       0
2  2020-03-17       Guam               66                3       0