In [1]:
!bq --location=US mk --dataset samhda_modeled

Dataset 'first-planet-266901:samhda_modeled' successfully created.

In [9]:
dataset_id = "samhda_modeled"

### create new modeled tables using CTAS statements

In [33]:
%%bigquery

CREATE TABLE samhda_modeled.facility_information AS
SELECT generate_uuid() as CASEID, *
FROM
(SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2018
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2017
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2016
WHERE CASEID IS NOT NULL
UNION DISTINCT

SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL
UNION DISTINCT

SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2014
WHERE CASEID IS NOT NULL)



ORDER BY LST;

Empty DataFrame
Columns: []
Index: []

In [34]:
%%bigquery

CREATE TABLE samhda_modeled.facility_treatment AS
SELECT generate_uuid() as CASEID, *
FROM

(SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2018
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2017
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2016
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2014
WHERE CASEID IS NOT NULL)


 
ORDER BY CASEID;

Empty DataFrame
Columns: []
Index: []

In [35]:
%%bigquery

CREATE TABLE samhda_modeled.facility_services AS
SELECT generate_uuid() as CASEID, *
FROM

(SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2018
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2017
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2016
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL)

ORDER BY CASEID;

Empty DataFrame
Columns: []
Index: []

## Check for Primary Key

In [37]:
%%bigquery
select count(*) from samhda_modeled.facility_information

    f0_
0  4359

In [39]:
%%bigquery
select count(distinct CASEID) from samhda_modeled.facility_information

    f0_
0  4359

In [41]:
%%bigquery
select count(*) from samhda_modeled.facility_treatment

   f0_
0  540

In [40]:
%%bigquery
select count(distinct CASEID) from samhda_modeled.facility_treatment

   f0_
0  540

In [42]:
%%bigquery
select count(*) from samhda_modeled.facility_services

   f0_
0  792

In [43]:
%%bigquery
select count(distinct CASEID) from samhda_modeled.facility_services

   f0_
0  792