In [1]:
!bq --location=US mk --dataset samhda_modeled

Dataset 'first-planet-266901:samhda_modeled' successfully created.

In [9]:
dataset_id = "samhda_modeled"

### create new modeled tables using CTAS statements

In [33]:
%%bigquery

CREATE TABLE samhda_modeled.facility_information AS
SELECT generate_uuid() as CASEID, *
FROM
(SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2018
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2017
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2016
WHERE CASEID IS NOT NULL
UNION DISTINCT

SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL
UNION DISTINCT

SELECT DISTINCT LST, CAST(CASE WHEN MHINTAKE = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE, OWNERSHP, CHILDAD,
FROM samhda_staging. samhda_2014
WHERE CASEID IS NOT NULL)



ORDER BY LST;

Empty DataFrame
Columns: []
Index: []

In [34]:
%%bigquery

CREATE TABLE samhda_modeled.facility_treatment AS
SELECT generate_uuid() as CASEID, *
FROM

(SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2018
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2017
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2016
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SElECT DISTINCT CAST(CASE WHEN TREATMT = 1 THEN 'Yes' WHEN MHINTAKE = 0 THEN 'No' ELSE Null END as String) as TREATMT, TREATGRPTHRPY, TREATCOGTHRPY, TREATTRAUMATHRPY, ALZHDEMENTIA, SRVC31, SPECGRPEATING, TRAUMATICBRAIN,
FROM samhda_staging. samhda_2014
WHERE CASEID IS NOT NULL)


 
ORDER BY CASEID;

Empty DataFrame
Columns: []
Index: []

In [35]:
%%bigquery

CREATE TABLE samhda_modeled.facility_services AS
SELECT generate_uuid() as CASEID, *
FROM

(SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2018
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2017
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2016
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL
UNION DISTINCT
 
SELECT DISTINCT MHINTCASEMGMT, CAST(CASE WHEN MHCHRONIC = 1 THEN 'Yes' WHEN MHCHRONIC = 0 THEN 'No' ELSE Null END as String) as MHCHRONIC, ILLNESSMGMT, PRIMARYCARE,FAMPSYCHED, SUPPHOUSING, SUPPEMPLOY, MHLEGAL, MHEMGCY, MHSUICIDE
FROM samhda_staging. samhda_2015
WHERE CASEID IS NOT NULL)

ORDER BY CASEID;

Empty DataFrame
Columns: []
Index: []

## Check for Primary Key

In [37]:
%%bigquery
select count(*) from samhda_modeled.facility_information

    f0_
0  4359

In [39]:
%%bigquery
select count(distinct CASEID) from samhda_modeled.facility_information

    f0_
0  4359

In [41]:
%%bigquery
select count(*) from samhda_modeled.facility_treatment

   f0_
0  540

In [40]:
%%bigquery
select count(distinct CASEID) from samhda_modeled.facility_treatment

   f0_
0  540

In [42]:
%%bigquery
select count(*) from samhda_modeled.facility_services

   f0_
0  792

In [43]:
%%bigquery
select count(distinct CASEID) from samhda_modeled.facility_services

   f0_
0  792

## Apache Beam

In [3]:
%run facility_information_beam.py

/home/jupyter/Team-Foodies/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'samhda_modeled'
 projectId: 'first-planet-266901'
 tableId: 'facility_information'> referenced by query SELECT CASEID, LST, MHINTAKE, SETTINGIP, SETTINGOP, FACILITYTYPE,OWNERSHP,CHILDAD FROM samhda_modeled.facility_information limit 20
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset first-planet-266901:temp_dataset_35a6726f51714d2c9c47bb57cd2d2bc5 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table first-planet-266901.samhda_modeled.facility_information_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CASEID'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LST'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MHINTAKE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SETTINGIP'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SETTINGOP'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'FACILITYTYPE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'OWNERSHP'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDAD'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583204029343
 etag: '4GwiaW8gQ0E4npNQYTSRSw=='
 id: 'first-planet-266901:samhda_modeled.facility_information_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583204029397
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CASEID'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LST'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MHINTAKE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SETTINGIP'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SETTINGOP'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'FACILITYTYPE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'OWNERSHP'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDAD'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/first-planet-266901/datasets/samhda_modeled/tables/facility_information_Beam'
 tableReference: <TableReference
 datasetId: 'samhda_modeled'
 projectId: 'first-planet-266901'
 tableId: 'facility_information_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.